{#<footer class="py-4 bg-grey-900 rounded-lg shadow">#}
{#    <hr class="my-6 sm:mx-auto dark:border-gray-700 lg:my-8" />#}
{#    <span class="block text-center text-sm text-gray-400">2022 © <a href="https://syl-web.fr/" class="hover:underline">Syl-Web</a>#}
{#    </span>#}
{#</footer>#}